body{
    background: #000;
    color: #fff;
    font-family: sans-serif;
}
.intro{
    background-image: url("../assets/fondo.png");
    background-size: cover;
    text-align: center;
    border-bottom: 8px solid #222;
    height: 670px;
}
header{
    padding: 20px;
    background-color: rgba(3,3,40,0.4); 
    display:flex;
    align-items: center;
    justify-content: space-betwwen;
}
.logo{
    width: 170px;
    height: auto;
}
.buttonIntro{
    border-radius: 50px; /* utilízalo para que los botones queden redondeados */
    background-color: rgb(181, 53, 246); /* Color del botón */
    color: #fff;
    font-weight: bold;
}
.login-button {
    font-size: 20px;
    margin: 0px 1460px;
    padding: 47x 17px;
    margin-right: -200px;
    width: 230px;
    height: 40px;
}
.intro-title{
    font-size: 80px;
    max-width: 900px;
    margin: 30px auto;
    font-weight: normal;
    height: 200px;
}
.intro-subtitle{
    font-size: 60px;
    max-width: 700px;
    margin: 0px auto;
    
}
.intro-parrafo{
    text-align: center;
    font-size: 20px;
    max-width: 500px;
    margin: 0px auto;
}
.compra-button{
    font-size: 30px;
    width: 350px;
    height: 50px;
}
.proposal{
    text-align: center;
    padding: 20px 0;
    
}
.proposal-text{
    font-size: 50px;
    font-weight: normal;
}
.proposal-parrafo{
    font-size: 27px;
    max-width: 1200px;
    margin: 30px auto;
}
.banner{
    display: flex;
    justify-content: center;
    padding: 70px 0;
    height: 400px;
}
.banner-info{
    max-width: 800px;
    margin: 0px 70px;   
}
.banner1{
    background-color: white;
    color: black;
}
.banner2{
    background-color: #0A1E2B;
}
.banner-image1{
    margin-left: -540px;
    margin-top: -70px;
    width: 1100px;
    height: auto;
}
.banner-image2{
    margin-left: 400px;
    margin-top: -70px;
    width: 800px;
    height: 540px;
}
.banner-imageLogo1{
    margin-left: 500px;
    position: relative;
    top: -450px;
    width: 500px;
    height: auto
}
.banner-imageLogo2{
    margin-left: -300px;
    position: relative;
    top: -450px;
    width: 500px;
    height: auto
}
.textBanner{
    position: relative;
    text-align: center;
    top: -450px;
    width: 500px;
    height: 10px;
    font-weight: normal;
    font-size: 24px;
}
.text1{
    margin-left: 500px;
}
.text2{
    margin-left: -300px;
}
.buttonBanner{
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    top: -400px;
    width: 400px;
    padding: 10px;
    font-weight: bold;
}
.button1{
    border: 5px solid #222;
    margin-left: 550px;
    color: black;
}
.button2{
    border: 5px solid white;
    background-color: #0A1E2B;
    margin-left: -250px;
    color: white;
}
.faqs{
    padding: 50px 0;
    border-bottom: 8px solid rgb(158, 134, 255);
}
.faq-title{
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}
.faq{
    max-width: 900px;
    padding: 20px;
    font-size: 26px;
    border-bottom: 1px solid rgb(158, 134, 255);
    margin: 5px auto;
}
.summary{
    color:rgb(158, 134, 255);
}

.footer{
    max-width: 900px;
    margin: 50px auto;
}
.footer-links{
    display: flex;
    justify-content: center;
}

.footer-links-column{
    margin-left: 100px;
    margin-right: 200px;
    width: 0px;
    height: 50px;
}
.footer-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    width: 300px;
    display: block;
}
.footer-text{
    text-align: center;
}