.titulo-rojo{
    color: red;
}
#parrafo-principal{
    color: green
}
.texto-verde{
    color: green;
}

p{
    color: green;
    font-size: 20px;
}
.titulo-seccion-a{
    font-family: monospace;
    font-weight: lighter;
    text-decoration: underline;
    text-transform: uppercase;
}
.titulo-seccion-b{
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    text-transform: lowercase; 
}
.contenedor{
    border: 2px solid black;
    padding: 50px;
    margin: 150px;
    width: 500px;
    height: 300px;
}

.caja-a{
    background-color:red;
}

.caja-b{
    background-color:blue;
}

.caja-c{
    background-color:green;
}