body{
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

.intro{
    background-image: url("../assets/fondo.png");
    background-size: cover;
    text-align: center;
    border-bottom: 8px solid #222;
}
header{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 170px;
    height: auto;

}
.login-button {
    background: #e50914;
    border-radius: 5px;
    padding: 7px 17px;
    border: none;
    color: #fff;
    font-size: 16px;
}
.intro-title{
    font-size: 64px;
    max-width: 700px;
    margin: 30px auto;
}
.intro-subtitle{
    font-size: 26px;
    max-width: 700px;
    margin: 30px auto;
}
.subscribe-intro-text{
    text-align: center;
    font-size: 19px;
    max-width: 700px;
    margin: 30px auto;
}
.subscribe-form{
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.subscribe-input{
    background: #fff;
    color: #8c8c8c;
    border: none;
    padding: 20px 5px;
    font-size: 16px;
    width: 500px;
}
.subscribe-button{
    background: #e50914;
    padding: 7px 17px;
    border: none;
    color: #fff;
    font-size: 30px;
}
.banner{
    display: flex;
    justify-content: center;
    padding: 70px 0;
    border-bottom: 8px solid #222;
}
.banner-info{
    max-width: 500px;
    margin: 0px 70px;
}
.banner-title{
    font-size: 50px;
    margin-top: 0px;
}
.banner-text{
    font-size: 26px;
}
.banner-image{
    width: 500px;
    height: auto;
}
.banner-title2{
    font-size: 50px;
    margin-top: 0px;
}
.banner-text2{
    font-size: 26px;
}
.banner-image2{
    margin-left: -1300px;
    width: 500px;
    height: auto;
}
.faqs{
    padding: 50px 0;
    border-bottom: 8px solid #222;
}
.faqs-title{
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}
.faq{
    max-width: 900px;
    padding: 20px;
    font-size: 26px;
    background:  #333;
    margin: 5px auto;
}
.subscribe-faq-text{
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    margin: 30px auto;
}

.footer{
    color: #737373;
    max-width: 900px;
    margin: 50px auto; /* auto (pequeño truki para centrar) */
}
.footer-message{
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-links{
    display: flex;
}
.footer-links-column{
    margin-right: 100px;
}
.footer-link{
    color: #737373;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 15px;
    display: block; /* para que salgan cada uno en una linea */
}
  
  
  
  
