body {
    background: #fff;
    color: #000;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

header {
    background-color: #5BB289;
    padding: 15px
}

.logo {
    width: 200px;
    height: auto;
}

.section {
    width: auto;
    height: 1800px;
}

.main {
    width: 1200px;
    margin: 20px 10px 20px 20px;
    padding: 40px;
    margin-left: 50px;
    border-right: 2px solid #C8C8C8;
    height: 1700px;
}

.main-text {
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C8C8C8;
    font-weight: bold;
}

.item {
    border: 1px solid #C8C8C8;
    padding: 15px;
    width: 300px;
    margin: 20px;
    display: inline-block;
}

.item-price{
    margin-top: -10px;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.item-add {
    padding: 10px;
    margin-top: 0px;
    width: 250px;
    border-radius: 200px;
    border: none;
    background-color: #F9B42A;
    color: #714000;
    font-size: 25px;
    min-width: 30px;
}

.cart {
    width: 350px;
    padding: 0px;
    margin-left: 1450px;
    margin-top: -1740px;
}

.cart-text {
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C8C8C8;
    width: 300px;
    font-weight: bold;
}

.cart-no-products {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  
.no-product-text {
    text-align: center;
    color: #A09FA0;
    padding: 10px;
    font-size: 24px;
}
.cart-item {
    justify-content: end;
    align-items: center;
    padding-bottom: 80px;
}
.cart-item-img{
    width: 70px;
}

.cart-item-description {
    margin: 5px;
    font-size: 20px;
}

.cart-item-price {
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #C8C8C8;
    width: 300px;
    padding-bottom: 10px;
}

.cart-item-quantity {
    padding-top: 10px;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    width: 200px;
}

.cart-item-btn {
    display: block;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: #EAABA7;
    color: #951D14;
    width: 40px;
    height: 40px;
    margin: -40px 270px;
}
.cart-total{
    margin-top: 75px;
    padding: 15px;
    background-color: #FBC244;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 300px;
  }

.footer {
    background-color: #fff;
    height: 300px;
    margin-top: 1500px;
}

.footer-container {
    max-width: 1500px;
    margin: 0 auto;
    /* auto (pequeño truki para centrar) */
    padding: 600px 0;
}

.footer-links {
    display: flex;
    margin-top: -550px;
    margin-left: 100px;
}

.footer-link-column {
    margin-right: 100px;
}

.img-link {
    width: 300px;
}

.footer-link {
    color: #A09FA0;
    text-decoration: none;
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 15px;
    display: block;
    /* para que salgan cada uno en una linea */
}

/* */